name: SonarCloud Scan

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  sonarcloud:
    name: Analyse SonarCloud
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, mysqli
          tools: composer, phpstan, phpcs

      - name: Install PHP dependencies
        run: composer install --no-progress

      - name: PHPStan
        run: phpstan analyse src --level=max || true

      - name: PHPCS
        run: phpcs --standard=PSR12 src || true

      - name: Composer Audit
        run: composer audit || true

      - name: NPM Audit
        run: npm audit --audit-level=moderate || true

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          #SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
